root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.go]
indent_size = tab
indent_style = tab

[*.{md,mdx}]
indent_size = unset
trim_trailing_whitespace = false

[*.py]
indent_size = 4
indent_style = space

[*.sh]
indent_size = 4
indent_style = space

[{*.c,*.cc,*.cpp,*.cxx,*.h,*.hh,*.hpp,*.hxx,*.inl,*.inc}]
indent_size = 4
indent_style = space

[{Makefile,makefile,**/Makefile,**/makefile}]
indent_size = tab
indent_style = tab
